# api keys
# MAINNET_RPC_URL={your_rpc_url}
# SEPOLIA_RPC_URL={your_rpc_url}
# ETHERSCAN_API_KEY={your_etherscan_api_key}
# 1INCH_API_KEY={your_1inch_api_key}

# private key for testnet deployment
# BROADCASTER_KEY={your_deployer_key}
# BROADCASTER_ADDRESS={your_deployer_address}

# private keys for testnet scripts
# MINTER_ADDRESS={your_minter_address}
# MINTER_KEY={your_minter_key}
# SIGNER_KEY={your_signer_key}
# PAYER_KEY={your_payer_key}

# test mnemonic
TEST_MNEMONIC="ten ten ten ten ten ten ten ten ten ten ten test"
