**/out
**/node_modules
**/*.env
**/target
**/cache
**/dist
**/*.log
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars
!**/*.tfvars.example
**/.terraform
**/.DS_Store
*.pem
*.key
*.cert
*.crt
*-config
!**/biome-config
!**/typescript-config
*.kubeconfig
**/broadcast
.vscode
.turbo
.pnpm-store
.cargo/config.toml
